.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px ;
}


.card-container {
    display: flex;
    width: 200px;
    /* height: 250px; */
    max-width: 400px;
    /* max-height: 400px; */
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }

  .card-container .img{
    width:100px;
    margin:auto;

  }
  .card-container p{
    font-weight: bold;
  }
  

  @media (max-width: 992px) {
   .card .container {
      padding-top: 62px;
    }
  }
 .card h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
 .card h2 {
    color: #eee;
    margin: 10px 0 0 0;
    font-size: 24px;
  }
 .card .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    border: 2px solid #fff;
    color: #fff;
  }
 .card .btn-get-started:hover {
    background: #5fcf80;
    border: 2px solid #5fcf80;
  }
  @media (min-width: 1024px) {
   .card {
      background-attachment: fixed;
    }
  }
  @media (max-width: 768px) {
   .card {
      height: 100vh;
    }
   .card h1 {
      font-size: 28px;
      line-height: 36px;
    }
   .card h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }

  